<h2>New Project</h2>
<form method="post" action="/projects">
	<label>Name <input name="name" required /></label><br/>
	<label>Description <textarea name="description"></textarea></label><br/>
	<button>Create project</button>
</form>


