<h3>New Thread</h3>
<form method="post" action="/threads">
	<input type="hidden" name="projectId" value="<%= projectId %>" />
	<label>Title <input name="title" required /></label>
	<button>Create</button>
</form>


